<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tsms.base.zl.dao.mapper.EventuserMapper" >
  <resultMap id="BaseResultMap" type="tsms.base.zl.pojo.po.Eventuser" >
    <id column="EVENTUSERID" property="eventuserid" jdbcType="DECIMAL" />
    <result column="USERID" property="userid" jdbcType="DECIMAL" />
    <result column="EVENTID" property="eventid" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    EVENTUSERID, USERID, EVENTID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="tsms.base.zl.pojo.po.EventuserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TSMS.EVENTUSER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from TSMS.EVENTUSER
    where EVENTUSERID = #{eventuserid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from TSMS.EVENTUSER
    where EVENTUSERID = #{eventuserid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="tsms.base.zl.pojo.po.EventuserExample" >
    delete from TSMS.EVENTUSER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="tsms.base.zl.pojo.po.Eventuser" >
    insert into TSMS.EVENTUSER (EVENTUSERID, USERID, EVENTID
      )
    values (#{eventuserid,jdbcType=DECIMAL}, #{userid,jdbcType=DECIMAL}, #{eventid,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="tsms.base.zl.pojo.po.Eventuser" >
    insert into TSMS.EVENTUSER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eventuserid != null" >
        EVENTUSERID,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
      <if test="eventid != null" >
        EVENTID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eventuserid != null" >
        #{eventuserid,jdbcType=DECIMAL},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=DECIMAL},
      </if>
      <if test="eventid != null" >
        #{eventid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="tsms.base.zl.pojo.po.EventuserExample" resultType="java.lang.Integer" >
    select count(*) from TSMS.EVENTUSER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TSMS.EVENTUSER
    <set >
      <if test="record.eventuserid != null" >
        EVENTUSERID = #{record.eventuserid,jdbcType=DECIMAL},
      </if>
      <if test="record.userid != null" >
        USERID = #{record.userid,jdbcType=DECIMAL},
      </if>
      <if test="record.eventid != null" >
        EVENTID = #{record.eventid,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TSMS.EVENTUSER
    set EVENTUSERID = #{record.eventuserid,jdbcType=DECIMAL},
      USERID = #{record.userid,jdbcType=DECIMAL},
      EVENTID = #{record.eventid,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="tsms.base.zl.pojo.po.Eventuser" >
    update TSMS.EVENTUSER
    <set >
      <if test="userid != null" >
        USERID = #{userid,jdbcType=DECIMAL},
      </if>
      <if test="eventid != null" >
        EVENTID = #{eventid,jdbcType=DECIMAL},
      </if>
    </set>
    where EVENTUSERID = #{eventuserid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="tsms.base.zl.pojo.po.Eventuser" >
    update TSMS.EVENTUSER
    set USERID = #{userid,jdbcType=DECIMAL},
      EVENTID = #{eventid,jdbcType=DECIMAL}
    where EVENTUSERID = #{eventuserid,jdbcType=DECIMAL}
  </update>
</mapper>